<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/initial/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/initial/fontawesome.css"/>
    <link rel="stylesheet" href="../static/css/Style.css"/>
    <script src="../static/js/initial/bootstrap.js"></script>
    <script src="../static/js/initial/fontawesome.js"></script>
    <script src="../static/js/initial/jquery-3.7.0.min.js"></script>
    <script src="../static/js/main.js"></script>
    <title>GESTION DE SECURITE ROUTIERE</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <h2>Securite routiere</h2>
                    </div>
                </div>

                <nav class="col-lg-9">
                    <ul class="nav-list">
                        <li class="list"><a href="#">Se connecter ici</a></li>
                        <li class="list"><a href="#">Se connecter ici</a></li>
                        <li class="list"><a href="#">Se connecter ici</a></li>
                        <li class="list"><a href="#">Se connecter ici</a></li>
                        <li class="list"><a href="#">Se connecter ici</a></li>
                        <li class="list"><a href="#">Se connecter ici</a></li>
                        <li class="list"><a href="#">Se connecter ici</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</body>
</html>